.container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card {
    width: 70%;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-floating, .form-select {
    width: 90%;
}

.botao {
    width: 15rem;
    margin: 1rem;
}

.adicionar {
    background-color: #8BC34A;
}

.cancelar {
    background-color: #E57373
    ;
}